@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps:400,900');
p{
    font-size: 1em;
    line-height: 1.5em;
}
figcaption{
    font: normal 0.78em/1em Georgia, "New Time Roman", serif;
    color: #777;
    text-align: right;
    font-family: 'Elsie Swash Caps', cursive;
}
.milk-text{
    color: #fff;
    font: bold 2.6em 'Elsie Swash Caps', cursive;
    text-shadow: 0 2px 3px #000;
}
#logo{
    background: #fff;
}
#logo h1{
    font-family: 'Clicker Script', cursive;
}
#logo h2{
    font-family: 'Elsie Swash Caps', cursive;
}
/*//// Psuedo Selector //// */
#details a:link , #details a:visited{
    color: #000;
    text-decoration: none;
}

#details a:hover{
    color: #000;
    
}
#details a:active{
    color:red;
}
/*///// Media /////*/
img, audio, video{
    max-width: 100%;
}
/*///// Layout /////*/
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.warpper{
    width: 960px;
    margin: 0 auto;
}
.col-1{
    float: left;
    width:32%;
    background-color: #ccc;
}
.col-2{
    float: left;
    width:66%;
    background-color: #ccc;
}
.col-3{
    background-color: #ccc;
}
.clearfix:after{
    content: ".";
    display: block;
    clear:both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}
[class*="col-"]{
    margin-left: 2%;
}
.first{
    margin-left: 0%;
}
/*///// Sections /////*/
header{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 1;
    background: white;
}
section{
    padding: 20px;
    margin-bottom: 20px;
}
/*///// Social /////*/
#social{
    position: fixed;
    top:200px;
    right: 20px;
    width: 40px;
    z-index: 1;
}
#social a{
    display: block;
    right: 20px;
    width: 40px;
   background: yellow;
}